# Exported functions
export(perform_inla_analysis)
export(sample_posterior_gaussian)
export(sample_posterior_count)
export(plot_posteriors_and_heritability)
export(extract_importances)
export(plot_samples)
export(SVD_decomp)
export(install_inla)


# Imported functions
importFrom(ggplot2, ggplot, geom_histogram, geom_density, geom_line, aes, theme_minimal, labs, theme, scale_fill_brewer)
importFrom(INLA, inla, inla.posterior.sample)
importFrom(reshape2, melt)
importFrom(tidyr, pivot_longer)
